# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
env/

# Environment files
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ML model artifacts
*.pth
*.pt
*.pkl
*.joblib
*.h5
*.onnx
*.bin

# Specific model directory
ml_service/models/